## Pandas IO

In [3]:
import pandas # Read pandas package into python
df = pandas.read_csv('C:\\Users\\Student\\tw2330.csv') # read data from tw2330.csv to DataFrame
df.head() # Read the first 5 rows
df.head(10) # Read the first 10 rows

         Date   Open   High    Low  Close    Volume  Adj Close
0  2016-07-28  175.0  176.5  173.0  176.5  31071000      176.5
1  2016-07-27  175.0  176.0  174.5  175.0  34117000      175.0
2  2016-07-26  172.0  173.0  171.5  173.0  32685000      173.0
3  2016-07-25  172.0  173.0  169.0  171.5  27145000      171.5
4  2016-07-22  172.0  172.0  170.5  171.0  28504000      171.0
5  2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
6  2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
7  2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
8  2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
9  2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

In [6]:
import pandas # Read pandas package into python
df = pandas.read_csv('C:\\Users\\Student\\tw2330.csv', \
                     parse_dates={'Dates': [0]}) # Transform date column into date type
df.head() # Read the first 5 rows
df.head(10) # Read the first 10 rows

       Dates   Open   High    Low  Close    Volume  Adj Close
0 2016-07-28  175.0  176.5  173.0  176.5  31071000      176.5
1 2016-07-27  175.0  176.0  174.5  175.0  34117000      175.0
2 2016-07-26  172.0  173.0  171.5  173.0  32685000      173.0
3 2016-07-25  172.0  173.0  169.0  171.5  27145000      171.5
4 2016-07-22  172.0  172.0  170.5  171.0  28504000      171.0
5 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
6 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
7 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
8 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
9 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

In [ ]:
import pandas
df = pandas.io.data.DataReader(name='2330.TW', data_source='yahoo',start='2000-1-1')

In [38]:
import pandas.io.data as web # as => alias, use "web" to replace pandas.io.data
df = web.DataReader(name='AAPL', data_source='yahoo',start='2000-1-1')
df.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,104.874997,112.499998,101.687501,111.937502,133949200,3.679885
2000-01-04,108.250001,110.625002,101.187503,102.500003,128094400,3.369633
2000-01-05,103.749998,110.562497,103.000001,103.999997,194580400,3.418944
2000-01-06,106.124999,106.999999,94.999998,94.999998,191993200,3.123074
2000-01-07,96.499999,101.000002,95.500003,99.500001,115183600,3.271009

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4169 entries, 2000-01-03 to 2016-07-28
Data columns (total 6 columns):
Open         4169 non-null float64
High         4169 non-null float64
Low          4169 non-null float64
Close        4169 non-null float64
Volume       4169 non-null int64
Adj Close    4169 non-null float64
dtypes: float64(5), int64(1)
memory usage: 228.0 KB

In [40]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [41]:
df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,4169.000000,4169.000000,4169.000000,4169.000000,4.169000e+03,4169.000000
mean,172.059956,173.979672,169.904249,171.974724,1.324539e+08,34.060365
std,175.573690,176.969772,173.898346,175.454482,9.974163e+07,37.295693
min,12.990000,13.190000,12.720000,13.120000,9.835000e+06,0.862626
25%,37.719999,38.159999,37.200000,37.760000,6.588960e+07,3.121101
50%,103.959999,105.489998,101.749999,103.739998,1.040396e+08,17.010562
75%,241.749992,243.849987,238.040001,241.789993,1.701084e+08,59.765857
max,702.409988,705.070023,699.569977,702.100021,1.855410e+09,129.880553

## DataFrame Basic Operation

In [12]:
names = ['Qoo', 'Mary', 'Jane']
height = [180,173,165]
weight = [75,62,55]
print names[0], height[0], weight[0]

Qoo 180 75

In [18]:
import pandas 
df = pandas.DataFrame({'name':names, 'height': height, 'weight': weight})
df

   height  name  weight
0     180   Qoo      75
1     173  Mary      62
2     165  Jane      55

In [29]:
df.loc[0,] # get all basic information of first person

height    180
name      Qoo
weight     75
Name: 0, dtype: object

In [28]:
df.loc[0, 'height'] # get height information of first person

180

In [26]:
df.loc[0, ['height', 'weight']] # get height and weight information of first person

height    180
weight     75
Name: 0, dtype: object

In [27]:
df.loc[0:1, ['height', 'weight']] # get height information of first, and second person

   height  weight
0     180      75
1     173      62