## Python Basic

In [1]:
a = 3

In [2]:
a

3

In [3]:
b = 2

In [4]:
a + b

5

## 變數

In [1]:
price = 30
exchange = 30.9
price * exchange

927.0

In [24]:
# 使用 ' 或 " 表示字串
sentence = 'hello world'
sentence

'hello world'

In [25]:
# 字串是無法與價格相加
sentence + price

TypeError: must be str, not int

## Lists => []

In [5]:
height= 175

In [6]:
height1 = 175
height2 = 178

### 假使有100 個人呢... 總不能打100個變數

In [7]:
heights = [175,180,162,168,177]

In [26]:
# 資料從0 開始
heights[0]

175

In [9]:
heights[1]

180

In [27]:
# 拿取最後的資料
heights[-1]

190

In [11]:
# 拿取從位置 0 開始, 位置 < 3 的資料
heights[0:3]

[175, 180, 162]

In [12]:
# 拿取從位置 1 開始, 位置 < 3 的資料
heights[1:3]

[180, 162]

## Dictionary => {}

In [13]:
scores = {'John': 80, 'Marry': 60, 'Eddie': 49}
scores['John']

80

In [28]:
scores.get('John')

80

In [14]:
scores['Marry']

60

In [15]:
scores['Alan'] = 77

In [16]:
scores

{'Alan': 77, 'Eddie': 49, 'John': 80, 'Marry': 60}

In [29]:
scores['David']

KeyError: 'David'

In [30]:
scores.get('David')

## Tuple => () - 裡面的資料是不能夠被修改的

In [17]:
heights =  [175,180,162,168,177]
heights.append(190)
heights

[175, 180, 162, 168, 177, 190]

In [18]:
heights2 = (175,180,162,168,177)
heights2[0]

175

In [19]:
heights2.append(190)

AttributeError: 'tuple' object has no attribute 'append'

## IF ... ELSE

In [34]:
currency = 32
# 使用 : 表示條件, 使用indent (4個空白或1個Tab)
if currency > 31:
    print('over 31')
elif currency == 31:
    print('equal to 31')
else:
    print('lower than 31')

over 31

## For Loop

In [21]:
a = [1,2,3,4,5,6,7,8,9,10]
sum(a)

55

In [35]:
s = 0
for data in a:
    s = s + data
s

55

In [23]:
s = 0
for i in range(1,101):
    s = s + i
s

5050

## 使用Python 操作檔案

In [1]:
# w: write, a: append, r:read
f = open('test.txt', 'w')
f.write('Hello World')
f.close()

In [2]:
with open('test.txt', 'w') as f:
    f.write('大家好')

In [3]:
news = '''
行政院院長賴清德今日中午將與立委舉行股利所得稅改便當會，外界預料會中將會拍版確定股利所得稅改最後要採用甲案或是乙案，財長許虞哲今日在財委會前接受媒體堵訪時表示，過去1個月來財政部收到的各界意見多支持乙案，但最終是否乙案出線仍待政院拍板。
許虞哲接近中午時表示，若行政院審核順利，稅改有可能這個月就送立法院一讀，會和立院溝通希望列優先法案「不排除在審查預算前先審稅改」。
許虞哲表示，今日受邀赴立院財委會就「如何具體提升政府及民間的投資，落實加速投資台灣」專題報告，若會議趕不及，中午未必參與便當會，改由政務次長蘇建榮代表。
'''

In [4]:
with open('news.txt', 'w') as f:
    f.write(news)

In [6]:
with open('news.txt', 'r') as f:
    for line in f.readlines():
        print('line:', line)

line:

line: 行政院院長賴清德今日中午將與立委舉行股利所得稅改便當會，外界預料會中將會拍版確定股利所得稅改最後要採用甲案或是乙案，財長許虞哲今日在財委會前接受媒體堵訪時表示，過去1個月來財政部收到的各界意見多支持乙案，但最終是否乙案出線仍待政院拍板。

line: 許虞哲接近中午時表示，若行政院審核順利，稅改有可能這個月就送立法院一讀，會和立院溝通希望列優先法案「不排除在審查預算前先審稅改」。

line: 許虞哲表示，今日受邀赴立院財委會就「如何具體提升政府及民間的投資，落實加速投資台灣」專題報告，若會議趕不及，中午未必參與便當會，改由政務次長蘇建榮代表。

In [7]:
with open('news.txt', 'r') as f:
    article =  f.read()

In [8]:
article

'\n行政院院長賴清德今日中午將與立委舉行股利所得稅改便當會，外界預料會中將會拍版確定股利所得稅改最後要採用甲案或是乙案，財長許虞哲今日在財委會前接受媒體堵訪時表示，過去1個月來財政部收到的各界意見多支持乙案，但最終是否乙案出線仍待政院拍板。\n許虞哲接近中午時表示，若行政院審核順利，稅改有可能這個月就送立法院一讀，會和立院溝通希望列優先法案「不排除在審查預算前先審稅改」。\n許虞哲表示，今日受邀赴立院財委會就「如何具體提升政府及民間的投資，落實加速投資台灣」專題報告，若會議趕不及，中午未必參與便當會，改由政務次長蘇建榮代表。\n'

## 使用Pandas 讀取結構化與半結構化資料

In [9]:
import pandas

In [11]:
tw2330 = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/pyfintech/master/tw2330.csv')
tw2330.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1  2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2  2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3  2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4  2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

In [12]:
stock =pandas.read_excel('https://raw.githubusercontent.com/ywchiu/pyfintech/master/data/stock.xlsx')
stock.head()

,id,年度,股本,財報評分,收盤,平均,漲跌,漲跌%,營業收入,營業毛利,...,營業毛利%,營業利益%,業外損益%,稅後淨利%,ROE,ROA,稅後EPS,EPS成長,BPS,stockid
0,1,2015,369.0,45,27.3,37.8,-16.1,-37.1,937.0,145.0,...,15.5,10.3,-1.08,7.39,4.36,2.36,1.56,-1.37,29.26,1101
1,2,2014,369.0,53,43.4,45.7,-2.85,-6.2,1183.0,249.0,...,21,16.8,1.13,14,10.50,5.76,2.93,0.21,31.95,1101
2,3,2013,369.0,51,46.25,39.8,7.35,18.9,1161.0,228.0,...,19.7,15.3,0.71,13,10.60,5.56,2.72,0.63,30.63,1101
3,4,2012,369.0,49,38.9,35.8,3.9,11.1,1195.0,177.0,...,14.8,10.9,-0.84,8.34,7.63,3.81,2.09,-0.24,27.03,1101
4,5,2011,369.0,55,35,36.8,2.2,6.7,1185.0,206.0,...,17.4,13.6,0.3,11.6,10.80,5.24,2.33,-0.1,26.21,1101

In [14]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/pyfintech/master/2330.json')
tw2330.head()

   Adj Close  Close       Date   High    Low   Open    Volume
0      172.0  172.0 2016-07-21  172.0  170.0  171.0  33130000
1      170.0  170.0 2016-07-20  170.5  169.0  170.0  38053000
2      170.5  170.5 2016-07-19  170.5  169.0  170.5  42456000
3      169.5  169.5 2016-07-18  170.0  168.0  168.0  24749000
4      169.5  169.5 2016-07-15  169.5  169.5  169.5     41000

## 使用GET 抓取網路資料

In [28]:
import requests
newsurl = 'http://www.appledaily.com.tw/realtimenews/section/new/'
res = requests.get(newsurl)
res

In [29]:
type(res)

requests.models.Response

In [26]:
#res.text

## 使用POST 抓取網路資料

In [19]:
import requests

url='https://www.thsrc.com.tw/tw/TimeTable/SearchResult'

payload = {
'StartStation':'977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation':'a7a04c89-900b-4798-95a3-c01c455622f4',
'SearchDate':'2017/10/05',
'SearchTime':'14:00',
'SearchWay':'DepartureInMandarin',    
}

res = requests.post(url, data = payload)
#res.text

## 台鐵時刻表簡易查詢
- http://twtraffic.tra.gov.tw/twrail/EasySearch.aspx

In [23]:
import requests
res = requests.get('http://twtraffic.tra.gov.tw/twrail/SearchResult.aspx?searchtype=0&searchdate=2017/10/05&fromstation=1810&tostation=1008&trainclass=%271100%27,%271101%27,%271102%27,%271107%27,%271110%27,%271120%27&fromtime=0600&totime=2359')
res

## PCHOME 價格抓取

In [21]:
import requests
res = requests.get('http://24h.pchome.com.tw/prod/DCAV33-A9007Z0IE?q=/S/DCAV54')
#res.text

In [22]:
import requests
res = requests.get('http://ecapi.pchome.com.tw/ecshop/prodapi/v2/prod/DCAV33-A9007Z0IE-000&store=DCAV54&fields=Seq,Id,Name,Nick,Store,PreOrdDate,SpeOrdDate,Price,Discount,Pic,Weight,ISBN,Qty,Bonus,isBig,isSpec,isCombine,isDiy,isRecyclable,isCarrier,isMedical,isBigCart,isSnapUp,isDescAndIntroSync,isFoodContents,isHuge,isEnergySubsidy&_callback=jsonp_prod&1507184640?_callback=jsonp_prod')
res.text

'try{jsonp_prod({"DCAV33-A9007Z0IE-000":{"Seq":17614101,"Id":"DCAV33-A9007Z0IE-000","Name":"Wacom Intuos Pro Medium \\u96d9\\u529f\\u80fd\\u5275\\u610f\\u89f8\\u63a7\\u7e6a\\u5716\\u677f","Nick":"<font color=7744FF>\\u2605\\u7d19\\u4e0a\\u5275\\u610f\\u8f49\\u6210\\u6578\\u4f4d\\u6a94\\u2605<\\/font><BR>Intuos Pro Medium \\u96d9\\u529f\\u80fd\\u5275\\u610f\\u89f8\\u63a7\\u7e6a\\u5716\\u677f(PTH-660\\/K1)","Store":"DCBC13","PreOrdDate":"","SpeOrdDate":"","Price":{"M":0,"P":14900},"Discount":0,"Pic":{"B":"\\/items\\/DCAV33A9007Z0IE\\/000001_1490322966.jpg","S":"\\/items\\/DCAV33A9007Z0IE\\/000002_1490322966.jpg"},"Weight":2.8,"ISBN":"","Qty":10,"Bonus":0,"isBig":0,"isSpec":0,"isCombine":0,"isDiy":0,"isRecyclable":0,"isCarrier":0,"isMedical":0,"isBigCart":1,"isSnapUp":0,"isDescAndIntroSync":0,"isFoodContents":0,"isHuge":0,"isEnergySubsidy":0}});}catch(e){if(window.console){console.log(e);}}'

## 使用BeautifulSoup 剖析網頁

In [30]:
from bs4 import BeautifulSoup
html_sample='''
<html> 
    <body> 
        <h1 id="title">Hello World</h1> 
        <a href="#" class="link">This is link1</a> 
        <a href="# link2" class="link">This is link2</a> 
    </body> 
</html>
'''

# lxml, html5lib, html.parser
soup = BeautifulSoup(html_sample, 'html.parser')

#soup.text
type(soup)

bs4.BeautifulSoup

### 抓取H1 的文字內容

In [32]:
soup.select_one('h1')

In [33]:
soup.select_one('h1').text

'Hello World'

In [31]:
soup.select('h1')

In [34]:
soup.select('h1')[0]

In [35]:
soup.select('h1')[0].text

'Hello World'

### 抓取a 的文字內容

In [36]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [37]:
soup.select('a')[0]

In [38]:
soup.select('a')[0].text

'This is link1'

In [39]:
soup.select('a')[1]

In [40]:
soup.select('a')[1].text

'This is link2'

## 抓取id 為title的元素

In [41]:
# id => #
soup.select('#title')

## 抓取 class 為link的元素

In [42]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

## 抓取body 下的 h1 (中間要隔空白)

In [43]:
soup.select('body h1')

## 抓取class 為 link的 a 元素 (同一層的必須要連在一起)

In [44]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

## 使用for 迴圈列印出文字

In [47]:
for qoo in soup.select('a.link'):
    #print(qoo)
    print(qoo.text)

This is link1
This is link2

## 使用for 迴圈列印出連結

In [48]:
for qoo in soup.select('a.link'):
    print(qoo.get('href'))

#
# link2

## 剖析出蘋果新聞列表

In [50]:
import requests
res = requests.get('http://www.appledaily.com.tw/realtimenews/section/new/')
#res.text

In [51]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'html.parser')

In [53]:
#soup.text

In [55]:
links = soup.select('a')
type(links)

list

In [56]:
len(links)

148

In [72]:
s = '<a href="http://www.google.com" qoo="123" target="blank">LINK</a>'
soup2 =BeautifulSoup(s, 'html.parser')
soup2.select('a')[0].get('href')
soup2.select('a')[0].get('qoo')
soup2.select('a')[0].get('target')

'blank'

## InfoLite 連結
- https://chrome.google.com/webstore/detail/infolite/ipjbadabbpedegielkhgpiekdlmfpgal

In [75]:
#soup.select('.rtddt')
domain = 'http://www.appledaily.com.tw'
for link in soup.select('.rtddt a'):
    title    = link.select('h1')[0].text
    category = link.select('h2')[0].text
    dt       = link.select('time')[0].text
    url      = domain + link.get('href')
    #print(title, category, dt, url)
    #print('========================================================')

In [77]:
domain = 'http://www.appledaily.com.tw'

newsary = []
for link in soup.select('.rtddt a'):
    newsdic  = {}
    newsdic['title']    = link.select('h1')[0].text
    newsdic['category'] = link.select('h2')[0].text
    newsdic['dt']       = link.select('time')[0].text
    newsdic['url']      = domain + link.get('href')
    newsary.append(newsdic)

## 使用Pandas 將資料包裝成結構化資料

In [79]:
import pandas
newsdf = pandas.DataFrame(newsary)

In [80]:
newsdf.head()

,category,dt,title,url
0,財經,14:47,《日經》爆料：哀鳳改用OLED 夏普龜山...(0),http://www.appledaily.com.tw/realtimenews/arti...
1,社會,14:46,他被李婉鈺罵畜生後截圖討拍 哭哭！網友不...(15),http://www.appledaily.com.tw/realtimenews/arti...
2,社會,14:45,京城銀行女理專監守自盜 母姊與友同遭起訴(0),http://www.appledaily.com.tw/realtimenews/arti...
3,國際,14:45,NASA：小行星撞地球 隕石墜落雲南(0),http://www.appledaily.com.tw/realtimenews/arti...
4,國際,14:44,​中美乒乓外交再現？亦敵亦友舊金山切磋球...(510),http://www.appledaily.com.tw/realtimenews/arti...

In [81]:
newsdf.to_excel('news.xlsx')

In [82]:
newsdf.to_csv('news.csv')